
		h1{
			font-size: 2.1rem;
			line-height: 1.4;
			letter-spacing: 0.5rem;
			text-align: center;
			color: rgb(177, 132, 132);
			margin-top: 50px;
		}
		.maindiv{
			margin-top: 10em;
			width: 70%;
			height: 600px;
			position: relative;
			left: 50%;
			top: 60%;
			transform: translate(-50%,-50%);
			background-image: url('./background.jpeg');
			background-size: 100% 100%;	
			box-shadow: 1px 2px 10px 5px grey;
			animation: slider 20s infinite linear;
			transition:0.67 ease;
			
		}
		.post-content{
			font-family: 'Anton', sans-serif;
			margin-top: 33em;
			width: 70%;
			height: 500px;
			position: absolute;
			left: 50%;
			top: 50%;
			color: rgb(24, 22, 22);
			transform: translate(-50%,-50%);
			
		}
		.post-subject{
			color: rgb(4, 22, 11);
			font-size: 3rem;
			font-weight:bolder;
		}
		.post-description{
			color: rgb(24, 22, 22);
			font-size: 1.5rem;
			font-weight: 25;
			

		}
		@keyframes slider{

			
			0%{background-image: url("./img/gallery/12.webp")}
			40%{background-image: url("./img/gallery/13.webp");}
			70%{background-image: url("./img/gallery/3.jpeg");}
			
			
			
		}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    
	
}

body{
	background-color: rgba(53, 53, 53,0.1);
}

li,a,button {
    padding: 30px 10%;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #6E5D5D;
	text-decoration: none;
}

header {
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}


.topnav {
  
  overflow: hidden;
  display: none;
  background-color: white;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;

}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1500px) {
   

    header {
  	display: none;}

   .topnav{
   	display: block;
   }

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .maindiv{
  	height: 500px;
  }
  
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1500px) {

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    color: black;
  }
}


.heading
{
	
	text-align: center;
	margin-top: 2em;
	margin-bottom: 4em;


}

.iiitdmj{
    padding-left: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.institute_name{
	padding-left: 10px;
}

.logo{

	cursor: pointer;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	
	}

.nav_links{
	
	list-style: none;
}

.nav_links li{
   display: inline-block;
   padding: 0px 20px;
}

.nav_links li a{
   transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
   color: #0088a9;
}

button {
	padding: 9px 25px;
	background-color: rgba(223, 224, 226,1);
	border: none;
	border-radius:50px;
	cursor: pointer;
	transition: all 0.3 ease 0s; 
}

button:hover {
	background-color: rgba(0,136,169,0.8);
}




.buffer{
	height: 2em;
}

.about
{   
    
    padding-bottom: 1em;


	
}

.content
{
	margin-left: 5em;

}

footer{
	height: 4em;
	
	text-align: center;
	padding: 1em;
   	background-color: rgba(29, 29, 29,0.2);

}

.members{
	text-align: center;
	list-style: none;
}

ul{
	list-style: none;
}